/*especifidad=1*/
h1,h2,h3,h4,h5,h6 {
  font-family: "Copperplate Gothic", Helvetica, Verdana,  sans-serif;
  font-weight: bold;
  background-color:gray;
  color: darkorange;
  padding:10px;
  margin:50px;
  text-transform: uppercase;
  border-radius: 40px
}
/*especifidad=1*/
h1,h3,h5{
  font-stretch: expanded
}
/*especifidad=1*/
h2,h4,h6{
  font-style: italic
}
/*especifidad=1*/
h1{
  font-size: 3em;
  letter-spacing: 2em;
}
/*especifidad=1*/
h2{
  font-size: 2em
}
/*especifidad=1*/
h3{
  font-size: 1.75em
}
/*especifidad=1*/
h4{
  font-size: 1.5em
}
/*especifidad=1*/
h5{
  font-size: 1.25em
}
/*especifidad=1*/
h6{
  font-size: 1.1em
}
/*especifidad=1*/
p, li, td{
  font-family: "Times New Roman", serif;
  font-size: 1em;
  color: black;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
}
/*especifidad=2*/
p::first-letter{
  font-size: 1.2em
}
/*especifidad=1*/
figcaption{
  text-align: left;
}
/*especifidad=11*/
a:visited{
  color: red;
  text-decoration: underline; 
}
/*especifidad=11*/
a:link{
  color:black;
  text-decoration: none;
}
/*especifidad=11*/
a:active{
  color: green;
  text-decoration: underline; 
}
/*especifidad=11*/
a:hover{
  color: green;
  text-decoration: underline;
}
/*especifidad=2*/
nav li{
  display: inline;
  border: solid black;
  font-weight: bold;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-top: 1em;
}
/*especifidad=2*/
nav ul, footer p, h1,h2,h3,h4,h5,h6{
  text-align: center;
}
/*especifidad=3*/
section ul>li{
  padding-bottom: 1em;;
  color: black;
  font-weight: bold;
  list-style: none;
}
/*especifidad=100*/
table, #img2left{
  padding-left: 3em;
}
/*especifidad=1*/
th, td {
  border: 1px solid black;
}
/*especifidad=1*/
th{
  color:purple;
  font-weight: bold;
}
/*especifidad=11*/
th[colspan], th[rowspan]{
  color:blue;
}
/*especifidad=100*/
#img1right, #imgreparto1, audio{
  float:right;
}
/*especifidad=100*/
#img2left, #imgreparto2, video{
  float:left;
}
/*especifidad=100*/
#imgindice{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
/*especifidad=2*/
footer a{
  padding-left: 1em;
  padding-right: 1em;
}
/*especifidad=1*/
video{
  width: 600px;
  max-width: 100%;
  padding-right: 0.5em;
}
/*especifidad=1*/
audio{
  padding-right:1em;
}
/*especifidad=11*/
p, li, td, a:visited, a:link, a:active, a:hover, section ul>li, th, th[colspan], th[rowspan]{
  background-color:transparent;
}
/*especifidad=100*/
#nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}